
 <tr>
   <td><TMPL_VAR NAME=isbn></td>
	<td><TMPL_VAR NAME=quantity></td>
   <td><a href="./mekong.cgi?page=Book&isbn=<TMPL_VAR NAME=isbn>"><TMPL_VAR NAME=title></a></td>
   <td><TMPL_VAR NAME=authors></td>
   <td><TMPL_VAR NAME=price></td>
	<td>
	<form>
	<input type="hidden" name="isbn" value="<TMPL_VAR NAME=isbn>">
	<button class="btn btn-small btn-primary" type="submit" name="page" value="remove">Remove</button>
	</form>
	</td>
 </tr>


